/* Estilos para a página de compartilhamento de arquivos */
body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

button {
    display: block;
    margin: 10px auto;
}

#fileViewer {
    margin: 0 auto;
    display: block;
}
